[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
yapf = "*"

[packages]
biopython = "*"
requests = "*"
matplotlib = "*"
pandas = "*"
pyyaml = "*"

[requires]
python_version = "3.8"

[scripts]
test = "python -m pytest"
